<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「大切な人への贈り物」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      大切な人への贈り物
    </h2>
    <p class='service-explain'>
      GIFT-IDEASは贈り物のヒントを届ける
    </p>
    <p class='service-explain'>
      そんな共有アプリです
    </p>
  </div>
  <%# /画面上部の「大切な人への贈り物」帯部分  %>

  <%# 商品一覧 %>
  <div class='gift-contents'>
    <h2 class='title'>PICK UP</h2>
    <div class="subtitle" >
      NEW GIFTS
    </div>
    <ul class='gift-lists'>

      <% @gifts.each do |gift| %>
      <li class='list'>
        <%= link_to gift_path(gift.id) do %>
        <div class='gift-img-content'>
          <%= image_tag gift.image, class: "gift-img" %>

        </div>
        <div class='gift-info'>
          <h3 class='gift-name'>
            <%= gift.title %>
          </h3>
        </div>
        <% end %>
      </li>
      <% end %>

    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to( new_gift_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>